
<h1>Programa da Tabuada</h1>
<hr/>


<button class="btn btn-primary" (click)="aumentar()"> + (Adicionar) </button>
&nbsp;
<button class="btn btn-secondary" (click)="diminuir()"> - (Diminuir) </button>


<hr/>


<h1>Tabuada de Multiplicação do número  {{ numero }}</h1>
<br>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let n of repete(11); let ind = index"> {{ numero }} x {{ ind }} = {{ numero * ind }}</li>
</ul>
<h1>Tabuada de Soma do número  {{ numero }}</h1>
<br>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let n of repete(11); let ind = index"> {{ numero }} + {{ ind }} = {{ numero + ind }}</li>
</ul>
